.link {
  color: var(--sp-primary-text);
  text-decoration: none;
  cursor: pointer;

  &:hover { text-decoration: underline; }
}

.size1 { font-size: 12px; line-height: 16px; letter-spacing: 0.0025em; }
.size2 { font-size: 14px; line-height: 20px; }
.size3 { font-size: 16px; line-height: 24px; }
